<md-toolbar class="md-tall md-padding">
    <a ui-sref="home">
        <img src="assets/images/nav-logo.png" width="90%">
    </a>
</md-toolbar>
<md-content class="sidenav-blue">
    <md-divider></md-divider>
    <div layout="row">
        <md-button flex style="margin: 0;" ui-sref="degrees.search" ng-click="app.toggleMenu()">
            <div layout="row" layout-align="start center">
                <h3 style="margin-left: 10px;">Majors</h3>
                <span flex></span>
                <span style="border-radius: 30px; background-color: #fff; color: #F1632A; width: 35px; font-size: 1.5em; margin-right: 20px;">{{vm.degreeService.getFilterDegreeLength()}}</span>
            </div>
        </md-button>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <md-button flex style="margin: 0;" ui-sref="compare" ng-click="app.toggleMenu()">
            <div layout="row" layout-align="start center">
                <h3 style="margin-left: 10px;">Compare</h3>
                <span flex></span>
                <span style="border-radius: 30px; background-color: #fff; color: #F1632A; width: 35px; font-size: 1.5em; margin-right: 20px;"></span>
            </div>
        </md-button>
    </div>
    <!--<md-input-container flex>-->
        <!--<md-icon md-svg-src="assets/icons/search.svg" aria-label="Search Degrees"></md-icon>-->
        <!--<input ng-model="user.email" type="text" placeholder="Search Degrees" ng-required="">-->
    <!--</md-input-container>-->

    <md-divider></md-divider>
    <p>&nbsp;</p>
    <div class="" style="margin-left: 10px; color: #e6e6e6; font-size: 0.8em;">FILTER MAJORS:</div>

    <md-divider></md-divider>
    <div layout="row">
        <md-button flex style="margin: 0;">
            <div layout="row" layout-align="start center">
                <h3 style="margin-left: 10px;">Areas of Interest</h3>
                <span flex></span>
                <md-icon md-svg-icon="assets/icons/arrow-down.svg"></md-icon>
            </div>
        </md-button>
    </div>
    <md-divider></md-divider>
    <md-content class="md-padding sidenav-blue">
        <section>
            <div>
                <md-checkbox ng-change="vm.selectInterest('Architecture', vm.interestAnswer[0], 0)" ng-model="vm.interestAnswer[0]" aria-label="Architecture">
                    Architecture
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-change="vm.selectInterest('Health & Medicine', vm.interestAnswer[1], 1)" ng-model="vm.interestAnswer[1]" aria-label="Health & Medicine">
                    Health & Medicine
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-change="vm.selectInterest('Social Services', vm.interestAnswer[2], 2)" ng-model="vm.interestAnswer[2]" aria-label="Social Services">
                    Social Services
                </md-checkbox>
            </div>
        </section>
    </md-content>
    <md-divider></md-divider>

    <div layout="row">
        <md-button flex style="margin: 0;">
            <div layout="row" layout-align="start center">
                <h3 style="margin-left: 10px;">Colleges</h3>
                <span flex></span>
                <md-icon md-svg-icon="assets/icons/arrow-down.svg"></md-icon>
            </div>
        </md-button>
    </div>
    <md-divider></md-divider>
    <section>
        <md-radio-group ng-model="vm.degreeType" ng-change="vm.selectDegreeType(vm.degreeType)">
            <md-radio-button value="Certificate"> Certificate </md-radio-button>
            <md-radio-button value="Bachelors"> Bachelors </md-radio-button>
            <md-radio-button value="Masters"> Masters </md-radio-button>
            <md-radio-button value="PhD"> PhD </md-radio-button>
        </md-radio-group>
    </section>
    <md-divider></md-divider>
    <div layout="row">
        <md-button flex style="margin: 0;">
            <div layout="row" layout-align="start center">
                <h3 style="margin-left: 10px;">Departments</h3>
                <span flex></span>
                <md-icon md-svg-icon="assets/icons/arrow-down.svg"></md-icon>
            </div>
        </md-button>
    </div>
    <md-divider></md-divider>
    <section>
        <md-radio-group ng-model="vm.location" ng-change="vm.selectLocation(vm.location)">
            <md-radio-button value="Boise"> Boise </md-radio-button>
            <md-radio-button value="Twin Falls"> Twin Falls </md-radio-button>
            <md-radio-button value="Online"> Online </md-radio-button>
        </md-radio-group>
    </section>
    <md-divider></md-divider>
    <p class="md-padding"><strong>Math Requirement</strong></p>
    <md-slider flex class="md-accent md-padding" ng-model="vm.mathRequirement" ng-change="vm.selectMathRequirement(vm.mathRequirement)" step="1" min="0" max="4" aria-label="Math Requirement"></md-slider>
    <md-divider></md-divider>
    <p class="md-padding"><strong>Second Language Requirement</strong></p>
    <div style="font-size: 2em;">
        <md-switch aria-label="Second Language Requirement" ng-true-value="'yup'" ng-false-value="'nope'">
    </div>
    <div class="md-padding">
        <md-checkbox ng-model="app.hideFilter" aria-label="Hide Degree Filter">
            Hide Filter: {{ app.hideFilter }}
        </md-checkbox>
    </div>


</md-content>