<md-content flex id="content">
    <md-content layout-padding>
        <md-chips class="custom-chips" ng-model="vm.activeFilters" readonly="true">
            <md-chip-template class="">
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.type}})</em>
            </md-chip-template>
            <button md-chip-remove ng-click="vm.removeFilter($chip)" class="md-primary filterchip">
                <md-icon md-svg-icon="assets/icons/close.svg"></md-icon>
            </button>
        </md-chips>
    </md-content>

    <md-subheader class="md-accent md-no-sticky">
        <div layout="row">
            <span class="md-subhead">{{app.degreeService.getFilterDegreeLength()}} MAJORS</span><span flex></span><md-button ng-if="app.showCompare" class="md-mini md-fab">Compare</md-button>
        </div>
    </md-subheader>
    <md-grid-list
            md-cols-sm="2" md-cols-md="3" md-cols-lg="3" md-cols-gt-lg="5"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
        <!-- ui-sref="degrees.detail({id: degree.UrlId})" -->
        <md-grid-tile ng-click="app.flipTile($index, $event);" ng-class="{'flip-container-active': app.degreeService.getTile($index)}" class="flip-container fade" ng-repeat="degree in vm.filterDegrees = ( vm.degrees | filter:{ DegreeType: vm.degreeFilterService.getDegreeType(), Location: vm.degreeFilterService.getLocation() } | filter: vm.greaterThan(vm.degreeFilterService.getMathRequirement()) | interest ) track by degree.Id">
            <div class="flipper">
                <div class="front">
                    <img width="100%" ng-src="{{::degree.Image}}">
                </div>
                <div style="text-align: center;" class="back">
                    <h3 style="margin-top: 0;" class="oswald">{{::degree.Title}}</h3>
                    <p><span style="background: #666; color: #fff; padding: 3px; font-size: 0.8em;">Minor</span> <span style="background: #666; color: #fff; padding: 3px; font-size: 0.8em;">BA</span> <span style="background: #666; color: #fff; padding: 3px; font-size: 0.8em;">Masters</span></p>
                    <p hide-sm>Lorem ipsum dolor sit amet, facilis periculis mea ea, scripta legendos persecuti ne has. In mel meis atqui reprehendunt, et brute blandit apeirian vis, ius te indoctum voluptatibus. </p>
                </div>
            </div>
            <md-grid-tile-footer style="z-index: 3;">
                <h3 ng-if="!app.tileFlipped[$index]" class="oswald">{{::degree.Title}}</h3>
                <span flex></span>
                <md-button ng-if="app.tileFlipped[$index]" ng-click="app.state.go('degrees.detail', {id: degree.UrlId})" class="fade md-accent md-raised" >Learn More</md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>