<md-bottom-sheet class="md-list">
    <md-subheader>Filter Degrees</md-subheader>
    <md-list>
        <md-list-item>
            <md-button flex class="md-list-item-content" ng-click="vm.showInterests($event)">
                <!--<md-icon md-svg-icon="assets/icons/filter.svg"></md-icon>-->
                <span class="md-inline-list-icon-label">Interests</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button flex class="md-list-item-content" ng-click="vm.showCharacteristics($event)">
                <!--<md-icon md-svg-icon="assets/icons/filter.svg"></md-icon>-->
                <span class="md-inline-list-icon-label">Characteristics</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button flex class="md-list-item-content" ng-click="vm.showAdvanced($event)">
                <!--<md-icon md-svg-icon="assets/icons/filter.svg""></md-icon>-->
                <span class="md-inline-list-icon-label">Advanced</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>